<?xml version="1.0" encoding="utf-8"?>
<!--
  ~         Copyright (C) 2016-2017 宙斯
  ~         All rights reserved
  ~
  ~        filename :Class4
  ~        description :
  ~
  ~         created by jackzhous at  11/07/2016 12:12:12
  ~         http://blog.csdn.net/jackzhouyu
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jack.zhou.floatview">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
